@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply flex flex-col w-full h-full items-center;
}

/* * {
  border: 0.2px solid red;
} */

body {
  @apply font-sans text-primary bg-light dark:bg-dark dark:text-secondary max-w-[2000px] w-full;
}

.scroll-bar {
  scrollbar-color: rgb(109 40 217);

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(109 40 217);
    border-radius: 0.5rem;
  }
}

/* .html-content-container .content-wrapper {
  line-height: 2.5rem;
} */

.rendered-markdown-content-container img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  max-height: 23rem;
  margin-bottom: 0.5rem;
}

.rendered-markdown-content-container h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.rendered-markdown-content-container h1 {
  font-size: 1.5rem;
}

.rendered-markdown-content-container h2 {
  font-size: 1.4rem;
}

.rendered-markdown-content-container h3 {
  font-size: 1.3rem;
  font-weight: 500;
}

.rendered-markdown-content-container h4,
h5,
h6 {
  font-size: 1.2rem;
  font-weight: 500;
}

.rendered-markdown-content-container p,
li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.rendered-markdown-content-container li {
  list-style: disc;
  margin-left: 1rem;
}

@media screen and (max-width: 420px) {
  .rendered-markdown-content-container h1 {
    font-size: 1.2rem;
  }

  .rendered-markdown-content-container h2 {
    font-size: 1.1rem;
  }

  .rendered-markdown-content-container h3 {
    font-size: 1rem;
  }

  .rendered-markdown-content-container h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  .rendered-markdown-content-container p,
  li {
    font-size: 0.9rem;
  }

  .rendered-markdown-content-container code {
    font-size: 0.9rem;
  }
}

.rendered-markdown-content-container pre,
.rendered-markdown-content-container p:has(code) {
  color: white;
  background-color: black;
  overflow-x: scroll;
  padding: 1rem;
  max-width: 100%;
  /* width: max-content; */
  margin-bottom: 0.5rem;
}

.rendered-markdown-content-container code {
  color: white;
  background-color: black;
  font-size: 1rem;
  width: 100%;
}

.rendered-markdown-content-container table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 0.5rem;
}

.rendered-markdown-content-container td,
.rendered-markdown-content-container th {
  border: 1px solid #ddd;
  padding: 8px;
}

.rendered-markdown-content-container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.rendered-markdown-content-container tr:hover {
  background-color: #ddd;
}

.rendered-markdown-content-container th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}

.rendered-markdown-content-container blockquote {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  margin-left: 1.5rem;
  padding-left: 0.5rem;
  border-left: 3px solid #ccc;
  font-style: italic;
}

.rendered-markdown-content-container blockquote > p {
  display: inline;
}

.rendered-markdown-content-container blockquote:before {
  content: "“";
}

.rendered-markdown-content-container blockquote:after {
  content: "”";
}

.rendered-markdown-content-container a:not(.profile-card) {
  color: rgb(109 40 217);
}

.rendered-markdown-content-container a:hover {
  text-decoration: underline;
}

/* markdown editor */
.toastui-editor-defaultUI-toolbar {
  justify-content: flex-end !important;
}

.ProseMirror {
  font-family: "Poppins", "Open Sans", "Helvetica Neue", "Helvetica", "Arial",
    "나눔바른고딕", "Nanum Barun Gothic", "맑은고딕", "Malgun Gothic",
    sans-serif !important;
  color: #000 !important;
  font-size: 1rem !important;
}

@media screen and (max-width: 1026px) {
  .toastui-editor-defaultUI-toolbar {
    flex-wrap: wrap;
  }

  .toastui-editor-defaultUI-toolbar button {
    width: 28px !important;
    height: 28px !important;
  }

  .toastui-editor-dropdown-toolbar {
    height: auto !important;
    width: 100% !important;
    flex-wrap: wrap;
    right: 0 !important;
    padding: 0.5rem !important;
    margin: 1.3px !important;
    justify-content: center !important;

    & > .toastui-editor-toolbar-icons {
      width: 1.1rem !important;
      height: 1.1rem !important;
    }
  }
}

@media screen and (max-width: 420px) {
  .ProseMirror {
    font-size: 0.8rem !important;
  }
}
